.page-container{
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    padding:0 15px;
    min-width: 1250px;

}

.title{
    display: flex;
    margin-top: 15px;
    // justify-content: center;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 15px;
    width:100%;
    font-size: 30px;
    background-color:#edf1fd;
    height:100px;
    border-radius: 6px;
    color:#5684e8;
}


.items-list{

    width:100%;
    
    // width: 80%
}


.button-line{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.add-item-btn{
    // margin-right: 15px;
}

textarea {
    resize: none;
}

.items-num{
    height: 32px;
    width: fit-content;
    border-radius: 0.25rem;
    padding: 0 8px;
    font-size: 18px;
    display: flex;
    // margin-left:15px;
    background-color: #007bff;
    color: white;
    align-items: center;
    justify-content: center;
    .badge{
        height: 20px;
        margin-left: 5px;
    }
}



.input-line{
    display: flex;
    margin-bottom: 20px;
}

.label-class{
    width: 150px;
    font-weight: bold;

}

.input-class{
    width: 300px;
    border-radius: 4px;
    border: 1px solid  #7c7c7c;
}

.amount-class{
    width: 150px;

}

#add-input-description{
    height: 100px;
}

.modal-body{
    width: 500px;
    height:fit-content;
}

.modal-header{
    background-color: #edf1fd;
}

.modal-footer{
    background-color: #edf1fd;
}

.close{
    outline: none;
}

.note-message{
    font-style: italic;
}

.error-message{
    color: red;
}

.messages{

    height: 40px;
}

.empty-state-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;

    .empty-image{
        width: 600px;
        height: 400px;

    }
}







