.items-list{

    width: 80%
}

:host{
    width:100%;
}

.button-line{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.add-item-btn{
    margin-right: 15px;
}

textarea {
    resize: none;
}

.items-num{
    height: 32px;
    width: fit-content;
    border-radius: 0.25rem;
    padding: 0 8px;
    font-size: 18px;
    display: flex;
    margin-left:15px;
    background-color: #007bff;
    color: white;
    align-items: center;
    justify-content: center;
    .badge{
        height: 20px;
        margin-left: 5px;
    }
}