.headers{

    display: flex;
    border: 1px solid #7c7c7c;
    height: 50px;
    width: 100%;
    align-items: center;

    .column{
        &-1{
            width: 150px;
            padding-left:20px;
        }
        &-2{
            width: 180px;
        }
        &-3{
            width: 450px;
        }
        &-4{
            width: 150px;
        }


    
    }

    .column-first{
        padding-left: 20px;
            
    }

}

