.item-properties{

    display: flex;
    border: 1px solid #f6f4f4;
    min-height: 50px;
    max-height: fit-content;
    width: 100%;
    align-items: center;
    padding: 7px 0;
  
    .property{
        &-1{
            width: 150px;
            padding-left:20px;
        }
        &-2{
            width: 180px;
            flex-wrap: wrap;
            display: flex; 
            padding-right: 30px;
        }
        &-3{
            width: 450px;
            flex-wrap: wrap;
            display: flex; 
            padding-right: 30px;
        }
        &-4{
            width: 150px;
        }

    
    }
    
}

.actions-buttons{

    display: flex;   
}

.action{

    height: 30px;
    width: 30px;
    background-color: #edf1fd; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center ;
    cursor: pointer;
    margin-right: 15px;
    
}

// .tooltip-class .tooltip-inner{
//     background-color: #edf1fd ;

// }

.tooltip-class {
    background-color: darkgreen;
    font-size: 125%;
  }


 
